body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #ffffff;
  color: #1f2937;
}
table {
  text-align: center;
}
.submission-history {
  padding: 20px;
  max-width: 90%;
  margin: auto;
}

.submission-header {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
}

.submission-stats {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.stat-card {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px 24px;
  flex: 1 1 200px;
}

.stat-card h4 {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 8px;
}

.stat-value {
  font-size: 24px;
  font-weight: 600;
  color: #1f2937;
}

.submissions-table {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow-x: auto;
}

.submissions-table table {
  width: 100%;
  border-collapse: collapse;
}

.submissions-table th,
.submissions-table td {
  padding: 16px 24px;
  font-size: 14px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
}

.submissions-table tr {
  height: 70px;
}

.submissions-table th {
  background: #f9fafb;
  color: #6b7280;
}

.status-accepted {
  color: #10b981;
  font-weight: 600;
}
.status-wrong {
  color: #ef4444;
  font-weight: 600;
}
.status-tle {
  color: #f59e0b;
  font-weight: 600;
}
.status-compile {
  color: #6366f1;
  font-weight: 600;
}
.status-judging {
  color: #6b7280;
  font-weight: 600;
}

.language-label {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
}
.language-cpp {
  background: #3b82f6;
}
.language-c {
  background: #3b82f6;
}
.language-py {
  background: #10b981;
}
.language-java {
  background: #ef4444;
}

.table-action {
  color: #3b82f6;
  margin-right: 12px;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  padding: 16px;
}

.pagination button {
  border: 1px solid #e5e7eb;
  padding: 8px 12px;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  color: #1f2937;
}

.pagination button.active {
  background: #3b82f6;
  color: white;
  font-weight: 600;
}
